<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rml.dao.UserMapper">

    <select id="checkRegisterUser" parameterType="string" resultType="int">
		SELECT COUNT(1) FROM users
		WHERE mobile = #{value}
	</select>

    <insert id="registerUser" parameterType="rml.request.RegisterUserRequest">
		INSERT INTO users (userName, realName,email,mobile,tel,
		sex,adder,password,createTime,updateTime)
		VALUES (#{userName},#{realName},#{email},#{mobile},#{tel},#{sex},
		#{adder},#{password},#{createTime},#{updateTime})
	</insert>

    <select id="checkLogin" parameterType="rml.request.UserRequest" resultType="int">

		SELECT COUNT(1)  FROM users
		WHERE userId = #{userId} AND password = #{password}

	</select>

    <select id="getUserIdByMobile" parameterType="String" resultType="String">
		SELECT userId FROM users
		WHERE mobile = #{value}
	</select>


    <select id="getLoginResultModle" parameterType="String" resultType="rml.model.LoginResultModle">
		SELECT userId,realName,sex,mobile FROM users
		WHERE userId = #{value}
	</select>


    <select id="checkDevice" parameterType="rml.request.UserRequest" resultType="int">
		SELECT COUNT(1)  FROM equipment
		WHERE userId = #{userId} AND equipmentId = #{IMeiId}
	</select>


    <select id="isNotFirstLogin" parameterType="string" resultType="boolean">
		SELECT COUNT(1)  FROM equipment
		WHERE userId = #{userId}
	</select>


    <insert id="insertDevice" parameterType="rml.request.UserRequest">

			INSERT INTO equipment (userId, equipmentId,remark)
		VALUES (#{userId},#{IMeiId},#{remark})

	</insert>


    <insert id="setSafeQuestion" parameterType="rml.request.SafeQuestionRequest">

			INSERT INTO password (userId, userSafetyQuestion1,userSafetyAnswer1, userSafetyQuestion2,userSafetyAnswer2, userSafetyQuestion3,userSafetyAnswer3)
		VALUES (#{userId},#{userSafetyQuestion1},#{userSafetyAnswer1},#{userSafetyQuestion2},#{userSafetyAnswer2},#{userSafetyQuestion3},#{userSafetyAnswer3})

	</insert>

    <update id="updataUserIcon" parameterType="string">
	UPDATE users SET icon = #{icon}
		WHERE userId = #{userId}
	</update>

    <select id="searchSafeQuestionIsExit" parameterType="string" resultType="int">
		SELECT count(1) FROM password
		WHERE userId = #{userId}
	</select>


    <select id="getSafeQuestionById" parameterType="string" resultType="rml.request.SafeQuestionRequest">
		SELECT * FROM password
		WHERE userId = #{userId}
	</select>

    <update id="setPassword" parameterType="string">
		UPDATE users SET password = #{password} WHERE userId = #{userId}
	</update>


</mapper>